# FinTech Project

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import requests

In [2]:
df_old = pd.read_csv('/Users/Stephanie_Zhang/Desktop/LendingClub项目/LoanStats3c.csv')

In [3]:
df_old.head(2)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,10400,10400,10400,36 months,6.99%,321.08,A,A3,Truck Driver Delivery Personel,8 years,...,0,4,83.3,14.3,0,0,179407,15030,13000,11325
1,15000,15000,15000,60 months,12.39%,336.64,C,C1,MANAGEMENT,10+ years,...,0,4,100.0,0.0,0,0,196500,149140,10000,12000

In [4]:
import requests
import json
header = { 'Authorization': 'MFlsdMVZe6dtdw/RzMruKtl6y1k='}
r = requests.get("https://api.lendingclub.com/api/investor/v1/loans/listing", headers = header)

In [5]:
type(r.json())

dict

In [6]:
data = r.json()
myData = data['loans']
with open('testdata.txt', 'w') as outfile:
    json.dump(myData, outfile)
df_Curr = pd.read_json('testdata.txt')

In [7]:
len(df_Curr)

84

In [8]:
df_Curr.columns

Index(['accNowDelinq', 'accOpenPast24Mths', 'acceptD', 'addrState', 'addrZip',
       'allUtil', 'annualInc', 'annualIncJoint', 'applicationType',
       'avgCurBal',
       ...
       'totCollAmt', 'totCurBal', 'totHiCredLim', 'totalAcc', 'totalBalExMort',
       'totalBalIl', 'totalBcLimit', 'totalCuTl', 'totalIlHighCreditLimit',
       'totalRevHiLim'],
      dtype='object', length=103)

In [9]:
# for name in df_Curr.columns.values:
#     print (name)
# for name in df_old.columns.values:
#     print(name)
# df_Curr.dtypes

# Con_cols = [i for i in df_Curr.columns if (df_Curr.dtypes[i] =='float64' or df_Curr.dtypes[i] =='int')]
# Cat_cols = [i for i in df_Curr.columns if (i not in Con_cols) & ( i !='id')]
# Con_cols
# Cat_cols

# Column Name Adjustment

In [10]:
listOld = []
for column_name in df_old.columns.values:
    Name = column_name.replace("_","")
    listOld.append(Name)
#     print (Name)

In [11]:
def CapDown (string):
    for i in range (len(string)):
        string = string[0: i] + string[i].lower() + string[i+1:]
    return string

In [12]:
listCurr = []
for column_name in df_Curr.columns.values:
    listCurr.append(CapDown(column_name))
#     print (CapDown(column_name))

# Variable Compare

In [13]:
def compareCol (list1, list2):
    same = []
    different = []
    for i in range (len(list1)):
        if list1[i] in list2:
            same.append(list1[i])
        else:
            different.append(list1[i])
    return same, different

In [14]:
sameCurr, differentCurr = compareCol(listCurr, listOld)
sameOld, differentOld = compareCol(listOld, listCurr)
print (differentCurr)
print (differentOld)

['acceptd', 'addrzip', 'creditpulld', 'desc', 'expd', 'expdefaultrate', 'ficorangehigh', 'ficorangelow', 'fundedamount', 'id', 'ilsexpd', 'investorcount', 'isincv', 'isincvjoint', 'listd', 'loanamount', 'memberid', 'numacctsever120ppd', 'reviewstatus', 'reviewstatusd', 'servicefeerate']
['loanamnt', 'fundedamnt', 'fundedamntinv', 'verificationstatus', 'issued', 'loanstatus', 'pymntplan', 'title', 'zipcode', 'outprncp', 'outprncpinv', 'totalpymnt', 'totalpymntinv', 'totalrecprncp', 'totalrecint', 'totalreclatefee', 'recoveries', 'collectionrecoveryfee', 'lastpymntd', 'lastpymntamnt', 'nextpymntd', 'lastcreditpulld', 'policycode', 'verificationstatusjoint', 'numacctsever120pd']

In [15]:
def LCS (str1, str2):
    m = len(str1)
    n = len(str2)
    max = 0
    common = list()
    count = [[0] * (n + 1) for x in range (m + 1)]
    for i in range (m + 1):
        count [i][0] = 0
    for j in range (n + 1):
        count [0][j] = 0
    for i in range (1, m + 1):
        for j in range (1, n + 1):
            if str1[i - 1] == str2[j - 1]:
                count[i][j] = count[i - 1][j - 1] + 1
                if max < count[i][j]:
                    max = count[i][j]
                    common.append(str1[i - 1])
            else:
                count[i][j] = 0
    return (max)

In [16]:
print (LCS ('happy', 'halloppy'))

3

In [17]:
for i in range (len(differentCurr)):
    for j in range (len(differentOld)):
        if LCS (differentCurr[i], differentOld[j]) > 3 : 
            print (LCS (differentCurr[i], differentOld[j]), differentCurr[i], differentOld[j])

11 creditpulld lastcreditpulld
8 fundedamount fundedamnt
8 fundedamount fundedamntinv
5 isincvjoint verificationstatusjoint
6 loanamount loanamnt
4 loanamount loanstatus
16 numacctsever120ppd numacctsever120pd
6 reviewstatus verificationstatus
6 reviewstatus loanstatus
6 reviewstatus verificationstatusjoint
6 reviewstatusd verificationstatus
6 reviewstatusd loanstatus
6 reviewstatusd verificationstatusjoint
4 servicefeerate totalreclatefee

# Adjust the Columns

In [18]:
# rename according to the name comparison
df_Curr.columns = listCurr
df_old.columns = listOld
# df_Curr.columns, df_old.columns

df_Curr = df_Curr.rename(columns={'creditpulld': 'lastcreditpulld'})
df_Curr = df_Curr.rename(columns={'fundedamount': 'fundedamnt'})
df_Curr = df_Curr.rename(columns={'loanamount': 'loanamnt'})
df_Curr = df_Curr.rename(columns={'numacctsever120ppd': 'numacctsever120pd'})

In [19]:
# another round of calculating the same and difference list
sameCurr2, differentCurr2 = compareCol(df_Curr.columns, df_old.columns)
sameOld2, differentOld2 = compareCol(df_old.columns, df_Curr.columns)
print (differentCurr2)
print (differentOld2)

['acceptd', 'addrzip', 'desc', 'expd', 'expdefaultrate', 'ficorangehigh', 'ficorangelow', 'id', 'ilsexpd', 'investorcount', 'isincv', 'isincvjoint', 'listd', 'memberid', 'reviewstatus', 'reviewstatusd', 'servicefeerate']
['fundedamntinv', 'verificationstatus', 'issued', 'loanstatus', 'pymntplan', 'title', 'zipcode', 'outprncp', 'outprncpinv', 'totalpymnt', 'totalpymntinv', 'totalrecprncp', 'totalrecint', 'totalreclatefee', 'recoveries', 'collectionrecoveryfee', 'lastpymntd', 'lastpymntamnt', 'nextpymntd', 'policycode', 'verificationstatusjoint']

In [20]:
# will delete the difference in new list differentCurr2
for i in range(len(differentCurr2)):
    df_Curr = df_Curr.drop(differentCurr2[i], 1)
len(df_Curr.columns)

86

In [21]:
# will delete the difference in new list differentOld2:
for i in range(len(differentOld2)):
    if differentOld2[i] != 'loanstatus' and differentOld2[i] != 'issued':
        df_old = df_old.drop(differentOld2[i], 1)
len(df_old.columns)

88

# Split train & test data, and aggregate into Full_data

In [22]:
print(df_old.loanstatus.value_counts())
df_old = df_old.query("loanstatus == 'Fully Paid' or loanstatus == 'Charged Off'")
df_old['loanstatus'] = df_old.loanstatus.map({"Charged Off": 0, "Fully Paid": 1})
# print(df_old.loanstatus)
print(df_old.loanstatus.value_counts())

Fully Paid            114533
Current                83597
Charged Off            32263
Late (31-120 days)      2737
In Grace Period         1845
Late (16-30 days)        647
Default                    7
Name: loanstatus, dtype: int64
1    114533
0     32263
Name: loanstatus, dtype: int64

In [23]:
df_old['issued'] = df_old.issued.apply(lambda x: x.split("-")[0])
df_test = df_old.query("issued =='Dec' or issued == 'Nov' or issued == 'Oct'")
df_train = df_old.query("issued !='Dec' and issued != 'Nov' and issued != 'Oct'")
df_test['flag'] = 0
df_train['flag'] = 1
df_Curr['flag'] = 2
Full_data = pd.concat((df_test, df_train, df_Curr), axis=0, ignore_index=True)

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [24]:
print(len(Full_data.columns), len(Full_data))
print(len(df_Curr.columns), len(df_old.columns), len(listCurr), len(listOld), len(df_Curr), len(df_old))

89 146880
87 88 103 107 84 146796

# Grouping variables

In [25]:
# 看目标值的分布
Full_data.loanstatus.value_counts()

1.0    114533
0.0     32263
Name: loanstatus, dtype: int64

In [26]:
for column_name in Full_data.columns.values:
    print (column_name, ":  ", Full_data[column_name].dtype)

accnowdelinq :   int64
accopenpast24mths :   int64
addrstate :   object
allutil :   float64
annualinc :   float64
annualincjoint :   float64
applicationtype :   object
avgcurbal :   float64
bcopentobuy :   float64
bcutil :   float64
chargeoffwithin12mths :   int64
collections12mthsexmed :   int64
delinq2yrs :   int64
delinqamnt :   int64
dti :   float64
dtijoint :   float64
earliestcrline :   object
emplength :   object
emptitle :   object
flag :   int64
fundedamnt :   int64
grade :   object
homeownership :   object
ilutil :   float64
initialliststatus :   object
inqfi :   float64
inqlast12m :   float64
inqlast6mths :   int64
installment :   float64
intrate :   object
issued :   object
lastcreditpulld :   object
loanamnt :   int64
loanstatus :   float64
maxbalbc :   float64
mortacc :   int64
mosinoldilacct :   float64
mosinoldrevtlop :   int64
mosinrcntrevtlop :   int64
mosinrcnttl :   int64
mthssincelastdelinq :   float64
mthssincelastmajorderog :   float64
mthssincelastrecord :   float64
mthssincercntil :   float64
mthssincerecentbc :   float64
mthssincerecentbcdlq :   float64
mthssincerecentinq :   float64
mthssincerecentrevoldelinq :   float64
numacctsever120pd :   int64
numactvbctl :   int64
numactvrevtl :   int64
numbcsats :   int64
numbctl :   int64
numiltl :   int64
numoprevtl :   int64
numrevaccts :   int64
numrevtlbalgt0 :   int64
numsats :   int64
numtl120dpd2m :   float64
numtl30dpd :   int64
numtl90gdpd24m :   int64
numtloppast12m :   int64
openacc :   int64
openacc6m :   float64
openil12m :   float64
openil24m :   float64
openil6m :   float64
openrv12m :   float64
openrv24m :   float64
pcttlnvrdlq :   float64
percentbcgt75 :   float64
pubrec :   int64
pubrecbankruptcies :   int64
purpose :   object
revolbal :   int64
revolutil :   object
subgrade :   object
taxliens :   int64
term :   object
totalacc :   int64
totalbalexmort :   int64
totalbalil :   float64
totalbclimit :   int64
totalcutl :   float64
totalilhighcreditlimit :   int64
totalrevhilim :   int64
totcollamt :   int64
totcurbal :   int64
tothicredlim :   int64

In [27]:
Full_data.isnull().sum()

accnowdelinq                   0
accopenpast24mths              0
addrstate                      0
allutil                   146796
annualinc                      0
annualincjoint            146873
applicationtype                0
avgcurbal                      6
bcopentobuy                 1496
bcutil                      1607
chargeoffwithin12mths          0
collections12mthsexmed         0
delinq2yrs                     0
delinqamnt                     0
dti                            0
dtijoint                  146873
earliestcrline                 0
emplength                     10
emptitle                    8235
flag                           0
fundedamnt                     0
grade                          0
homeownership                  0
ilutil                    146811
initialliststatus              0
inqfi                     146796
inqlast12m                146796
inqlast6mths                   0
installment                    0
intrate                        0
                           ...
numtl30dpd                     0
numtl90gdpd24m                 0
numtloppast12m                 0
openacc                        0
openacc6m                 146796
openil12m                 146796
openil24m                 146796
openil6m                  146796
openrv12m                 146796
openrv24m                 146796
pcttlnvrdlq                    0
percentbcgt75               1574
pubrec                         0
pubrecbankruptcies             0
purpose                        0
revolbal                       0
revolutil                     80
subgrade                       0
taxliens                       0
term                           0
totalacc                       0
totalbalexmort                 0
totalbalil                146796
totalbclimit                   0
totalcutl                 146796
totalilhighcreditlimit         0
totalrevhilim                  0
totcollamt                     0
totcurbal                      0
tothicredlim                   0
dtype: int64

In [28]:
# drop null columns
Full_data = Full_data.drop('openacc6m', 1)
Full_data = Full_data.drop('openil12m', 1)
Full_data = Full_data.drop('openil24m', 1)
Full_data = Full_data.drop('openil6m', 1)
Full_data = Full_data.drop('openrv12m', 1)
Full_data = Full_data.drop('openrv24m', 1)
Full_data = Full_data.drop('allutil', 1)
Full_data = Full_data.drop('inqfi', 1)
Full_data = Full_data.drop('inqlast12m', 1)
Full_data = Full_data.drop('totalbalil', 1)
Full_data = Full_data.drop('totalcutl', 1)

In [29]:
# check the Full_data again
# np.sum(Full_data.isnull())

In [30]:
# Value类别分组
Con_cols = [i for i in Full_data.columns if (Full_data.dtypes[i] =='float64' or Full_data.dtypes[i] == 'int64')]
Cat_cols = [i for i in Full_data.columns if (i not in Con_cols) & (i !='id')]
len(Con_cols), len(Cat_cols)
print(Con_cols)
print(Cat_cols)

['accnowdelinq', 'accopenpast24mths', 'annualinc', 'annualincjoint', 'avgcurbal', 'bcopentobuy', 'bcutil', 'chargeoffwithin12mths', 'collections12mthsexmed', 'delinq2yrs', 'delinqamnt', 'dti', 'dtijoint', 'flag', 'fundedamnt', 'ilutil', 'inqlast6mths', 'installment', 'loanamnt', 'loanstatus', 'maxbalbc', 'mortacc', 'mosinoldilacct', 'mosinoldrevtlop', 'mosinrcntrevtlop', 'mosinrcnttl', 'mthssincelastdelinq', 'mthssincelastmajorderog', 'mthssincelastrecord', 'mthssincercntil', 'mthssincerecentbc', 'mthssincerecentbcdlq', 'mthssincerecentinq', 'mthssincerecentrevoldelinq', 'numacctsever120pd', 'numactvbctl', 'numactvrevtl', 'numbcsats', 'numbctl', 'numiltl', 'numoprevtl', 'numrevaccts', 'numrevtlbalgt0', 'numsats', 'numtl120dpd2m', 'numtl30dpd', 'numtl90gdpd24m', 'numtloppast12m', 'openacc', 'pcttlnvrdlq', 'percentbcgt75', 'pubrec', 'pubrecbankruptcies', 'revolbal', 'taxliens', 'totalacc', 'totalbalexmort', 'totalbclimit', 'totalilhighcreditlimit', 'totalrevhilim', 'totcollamt', 'totcurbal', 'tothicredlim']
['addrstate', 'applicationtype', 'earliestcrline', 'emplength', 'emptitle', 'grade', 'homeownership', 'initialliststatus', 'intrate', 'issued', 'lastcreditpulld', 'purpose', 'revolutil', 'subgrade', 'term']

In [31]:
Full_data.loanstatus.value_counts()

1.0    114533
0.0     32263
Name: loanstatus, dtype: int64

In [32]:
print(Full_data.iloc[0:10,1:10])
print(Full_data.iloc[0:10,11:20])
print(Full_data.iloc[0:10,21:30])
print(Full_data.iloc[0:10,31:39])
print(Full_data.iloc[0:10,40:46])
print(Full_data.iloc[0:10,47:56])
print(Full_data.iloc[0:10,57:67])
print(Full_data.iloc[0:10,68:80])
print(Full_data.iloc[0:10,80:90])

   accopenpast24mths addrstate  annualinc  annualincjoint applicationtype  \
0                  7        CA    58000.0             NaN      INDIVIDUAL
1                  5        VA    78000.0             NaN      INDIVIDUAL
2                  4        MO    63800.0             NaN      INDIVIDUAL
3                  6        AZ    50000.0             NaN      INDIVIDUAL
4                  8        NJ    69000.0             NaN      INDIVIDUAL
5                  6        MN    89000.0             NaN      INDIVIDUAL
6                  4        MD    26000.0             NaN      INDIVIDUAL
7                  3        VA   109777.0             NaN      INDIVIDUAL
8                  2        NY    75000.0             NaN      INDIVIDUAL
9                  7        FL    60000.0             NaN      INDIVIDUAL

   avgcurbal  bcopentobuy  bcutil  chargeoffwithin12mths
0     9536.0       7599.0    41.5                      0
1    29828.0       9525.0     4.7                      0
2     4232.0        324.0    97.8                      0
3     5857.0        332.0    93.2                      0
4     3214.0       6494.0    69.2                      0
5    44136.0       1333.0    86.4                      0
6     1267.0      12152.0    26.8                      0
7    53392.0       2559.0    72.2                      0
8    17456.0         71.0    98.2                      0
9     1571.0       2604.0    52.7                      0
   delinq2yrs  delinqamnt    dti  dtijoint earliestcrline  emplength  \
0           0           0  14.92       NaN         Sep-89    8 years
1           0           0  12.03       NaN         Aug-94  10+ years
2           0           0  18.49       NaN         Aug-03    6 years
3           0           0  34.81       NaN         Aug-02   < 1 year
4           0           0  25.81       NaN         Nov-92  10+ years
5           0           0  13.77       NaN         Oct-01   < 1 year
6           0           0  14.36       NaN         May-09    2 years
7           1           0  11.63       NaN         Nov-03    6 years
8           0           0  23.63       NaN         Jan-01  10+ years
9           0           0  22.42       NaN         Jan-99  10+ years

                          emptitle  flag  fundedamnt
0   Truck Driver Delivery Personel     0       10400
1                       MANAGEMENT     0       15000
2  Programming Analysis Supervisor     0       21425
3             Technical Specialist     0        7650
4                 Admin Specialist     0        9600
5           Manufacturing Engineer     0        2500
6                    Store Manager     0        5250
7          Foreign Service Officer     0       16000
8                   Deputy sheriff     0       17000
9                            Sales     0       12975
  homeownership  ilutil initialliststatus  inqlast6mths  installment intrate  \
0      MORTGAGE     NaN                 w             2       321.08   6.99%
1          RENT     NaN                 w             0       336.64  12.39%
2          RENT     NaN                 w             0       516.36  15.59%
3          RENT     NaN                 f             1       260.20  13.66%
4          RENT     NaN                 f             0       326.53  13.66%
5      MORTGAGE     NaN                 f             1        83.03  11.99%
6          RENT     NaN                 f             0       172.98  11.44%
7           OWN     NaN                 w             0       351.40  11.44%
8      MORTGAGE     NaN                 f             0       578.22  13.66%
9          RENT     NaN                 f             0       468.17  17.86%

  issued lastcreditpulld  loanamnt
0    Dec          Feb-17     10400
1    Dec          Mar-17     15000
2    Dec          Mar-17     21425
3    Dec          Oct-16      7650
4    Dec          Feb-17      9600
5    Dec          Mar-17      2500
6    Dec          Apr-15      5250
7    Dec          Oct-16     16000
8    Dec          Mar-17     17000
9    Dec          Oct-16     12975
   maxbalbc  mortacc  mosinoldilacct  mosinoldrevtlop  mosinrcntrevtlop  \
0       NaN        1            76.0              290                 1
1       NaN        0           103.0              244                 1
2       NaN        0           135.0              136                 7
3       NaN        0           137.0              148                 8
4       NaN        0           183.0              265                23
5       NaN        5           158.0              148                24
6       NaN        0            33.0               67                12
7       NaN        2           121.0              133                17
8       NaN        2            93.0              167                21
9       NaN        0           191.0              122                 2

   mosinrcnttl  mthssincelastdelinq  mthssincelastmajorderog
0            1                 42.0                     59.0
1            1                  NaN                      NaN
2            7                 60.0                     74.0
3            8                  NaN                      NaN
4            3                  NaN                      NaN
5            6                 55.0                      NaN
6            6                  NaN                      NaN
7           17                 12.0                      NaN
8           10                 46.0                     51.0
9            2                 48.0                      NaN
   mthssincercntil  mthssincerecentbc  mthssincerecentbcdlq  \
0              NaN                5.0                  42.0
1              NaN               47.0                   NaN
2              NaN                7.0                  60.0
3              NaN               17.0                   NaN
4              NaN               24.0                   NaN
5              NaN               24.0                   NaN
6              NaN               16.0                   NaN
7              NaN               80.0                  33.0
8              NaN               27.0                  46.0
9              NaN                6.0                   NaN

   mthssincerecentinq  mthssincerecentrevoldelinq  numacctsever120pd
0                 1.0                        42.0                  4
1                 NaN                         NaN                  0
2                 7.0                        60.0                  1
3                 3.0                         NaN                  0
4                17.0                         NaN                  0
5                 2.0                         NaN                  0
6                 NaN                         NaN                  0
7                17.0                        33.0                  0
8                 NaN                        46.0                  2
9                 1.0                         NaN                  0
   numactvrevtl  numbcsats  numbctl  numiltl  numoprevtl  numrevaccts  \
0             9          7       18        2          14           32
1             4          1        2        8           5            9
2             4          3       12       16           5           18
3             4          1        4       12           4            8
4             7          5       16       17           8           26
5             4          3        6       17           4           10
6             2          3        4        3           6            9
7             3          3        6        2           5           10
8             3          1        7        4           4           25
9             8          3        6        6           9           13

   numrevtlbalgt0  numsats  numtl120dpd2m
0               9       17            0.0
1               4        6            0.0
2               4       10            0.0
3               4       11            0.0
4               7       12            0.0
5               4        9            0.0
6               2        8            0.0
7               3        7            0.0
8               3        7            0.0
9               8       11            0.0
   numtl90gdpd24m  numtloppast12m  openacc  pcttlnvrdlq  percentbcgt75  \
0               0               4       17         83.3           14.3
1               0               4        6        100.0            0.0
2               0               2       10         91.4          100.0
3               0               2       11        100.0          100.0
4               0               3       12        100.0           60.0
5               0               1        9         96.8           66.7
6               0               2        8        100.0            0.0
7               0               0        7         71.4           66.7
8               0               1        7         87.1          100.0
9               0               4       11         89.5            0.0

   pubrec  pubrecbankruptcies             purpose  revolbal revolutil
0       0                   0         credit_card      6133    31.60%
1       0                   0  debt_consolidation    138008       29%
2       0                   0         credit_card     16374    76.20%
3       0                   0  debt_consolidation     16822    91.90%
4       0                   0  debt_consolidation     16388    59.40%
5       0                   0    home_improvement     22908    94.30%
6       0                   0  debt_consolidation      4448    20.20%
7       0                   0  debt_consolidation      7253    60.40%
8       0                   0  debt_consolidation      5063    46.40%
9       0                   0               house      5200    33.10%
   taxliens        term  totalacc  totalbalexmort  totalbclimit  \
0         0   36 months        36           15030         13000
1         0   60 months        17          149140         10000
2         0   60 months        35           42315         15000
3         0   36 months        20           64426          4900
4         0   36 months        44           38566         21100
5         0   36 months        32           61606          9800
6         0   36 months        13           10133         16600
7         0   60 months        14           34475          9200
8         0   36 months        31           36205          4000
9         0   36 months        19           17281          5500

   totalilhighcreditlimit  totalrevhilim  totcollamt  totcurbal  tothicredlim
0                   11325          19400           0     162110        179407
1                   12000         184500           0     149140        196500
2                   35573          21500           0      42315         57073
3                   64031          18300           0      64426         82331
4                   24890          27600           0      38566         52490
5                   47946          24300           0     397223        415290
6                    6000          22000           0      10133         29971
7                   33000          12000           0     373743        428032
8                   41370          10900           0     122193        147270
9                   27243          15700         900      17281         42943
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
print(len(Full_data.columns), len(Full_data))
print(len(df_Curr.columns), len(df_old.columns), len(listCurr), len(listOld), len(df_Curr), len(df_old))

78 146880
87 88 103 107 84 146796

# Feature Engineering

In [34]:
# grade
grade_dic = {"A": 1, "B": 2, "C": 3, "D": 4, "E":5, "F":6, "G":7} 
Full_data.grade = Full_data.grade.map(grade_dic)

In [35]:
Full_data.subgrade = Full_data.subgrade.apply(lambda x: (grade_dic[x[0]]) + int(x[1])/10)
Full_data.subgrade

0         1.3
1         3.1
2         4.1
3         3.3
4         3.3
5         2.5
6         2.4
7         2.4
8         3.3
9         4.5
10        2.5
11        3.4
12        3.5
13        2.3
14        4.2
15        3.5
16        2.3
17        3.2
18        3.1
19        3.4
20        4.2
21        1.5
22        1.3
23        3.2
24        3.5
25        4.3
26        3.5
27        2.4
28        2.2
29        4.5
         ...
146850    2.3
146851    1.5
146852    3.4
146853    3.5
146854    4.3
146855    3.3
146856    2.3
146857    6.1
146858    6.1
146859    3.4
146860    2.1
146861    3.2
146862    3.5
146863    2.5
146864    1.2
146865    3.2
146866    4.5
146867    2.3
146868    3.5
146869    2.4
146870    4.2
146871    2.2
146872    2.4
146873    2.3
146874    5.5
146875    4.5
146876    3.1
146877    2.2
146878    5.5
146879    6.5
Name: subgrade, dtype: float64

In [36]:
# addrstate
addrstate_freq = Full_data.groupby("addrstate").size().reset_index()
addrstate_freq.columns = ["addrstate", "addrstate_freq"]
Full_data = pd.merge(Full_data, addrstate_freq, how = "left", on = "addrstate")

In [37]:
Full_data.drop('addrstate', axis =1)

,accnowdelinq,accopenpast24mths,annualinc,annualincjoint,applicationtype,avgcurbal,bcopentobuy,bcutil,chargeoffwithin12mths,collections12mthsexmed,...,term,totalacc,totalbalexmort,totalbclimit,totalilhighcreditlimit,totalrevhilim,totcollamt,totcurbal,tothicredlim,addrstate_freq
0,0,7,58000.0,NaN,INDIVIDUAL,9536.0,7599.0,41.5,0,0,...,36 months,36,15030,13000,11325,19400,0,162110,179407,21979
1,0,5,78000.0,NaN,INDIVIDUAL,29828.0,9525.0,4.7,0,0,...,60 months,17,149140,10000,12000,184500,0,149140,196500,4361
2,0,4,63800.0,NaN,INDIVIDUAL,4232.0,324.0,97.8,0,0,...,60 months,35,42315,15000,35573,21500,0,42315,57073,2340
3,0,6,50000.0,NaN,INDIVIDUAL,5857.0,332.0,93.2,0,0,...,36 months,20,64426,4900,64031,18300,0,64426,82331,3635
4,0,8,69000.0,NaN,INDIVIDUAL,3214.0,6494.0,69.2,0,0,...,36 months,44,38566,21100,24890,27600,0,38566,52490,5280
5,0,6,89000.0,NaN,INDIVIDUAL,44136.0,1333.0,86.4,0,0,...,36 months,32,61606,9800,47946,24300,0,397223,415290,2750
6,0,4,26000.0,NaN,INDIVIDUAL,1267.0,12152.0,26.8,0,0,...,36 months,13,10133,16600,6000,22000,0,10133,29971,3402
7,0,3,109777.0,NaN,INDIVIDUAL,53392.0,2559.0,72.2,0,0,...,60 months,14,34475,9200,33000,12000,0,373743,428032,4361
8,0,2,75000.0,NaN,INDIVIDUAL,17456.0,71.0,98.2,0,0,...,36 months,31,36205,4000,41370,10900,0,122193,147270,11922
9,0,7,60000.0,NaN,INDIVIDUAL,1571.0,2604.0,52.7,0,0,...,36 months,19,17281,5500,27243,15700,900,17281,42943,9867
10,0,0,90000.0,NaN,INDIVIDUAL,4745.0,324.0,98.5,0,0,...,36 months,10,23723,21200,0,24200,0,23723,24200,3909
11,0,6,72000.0,NaN,INDIVIDUAL,39356.0,3977.0,89.0,0,0,...,36 months,23,79490,36000,78126,39400,0,393558,443889,3292
12,0,6,32200.0,NaN,INDIVIDUAL,2054.0,3636.0,72.2,0,0,...,36 months,21,20539,13100,12000,15300,0,20539,27300,11922
13,0,2,60000.0,NaN,INDIVIDUAL,3258.0,552.0,85.8,0,0,...,36 months,18,22809,3900,18854,11600,0,22809,30454,21979
14,0,6,37000.0,NaN,INDIVIDUAL,2149.0,390.0,90.2,0,0,...,36 months,22,19342,4000,20637,22500,0,19342,43137,3635
15,0,6,20000.0,NaN,INDIVIDUAL,992.0,452.0,92.5,0,0,...,36 months,25,6941,6000,0,10300,0,6941,10300,21979
16,0,5,67000.0,NaN,INDIVIDUAL,21760.0,17016.0,46.3,0,0,...,60 months,39,33666,31700,28532,41700,0,239362,283223,9867
17,0,3,21312.0,NaN,INDIVIDUAL,57.0,31122.0,1.8,0,0,...,36 months,20,744,31700,0,39600,944,744,39600,2607
18,0,4,60000.0,NaN,INDIVIDUAL,21171.0,112.0,98.0,0,0,...,36 months,29,151547,5500,154033,17400,0,296389,323433,2750
19,0,8,108000.0,NaN,INDIVIDUAL,23779.0,1267.0,93.0,0,0,...,36 months,20,113801,3800,119491,6800,0,237795,256151,3334
20,0,7,50000.0,NaN,INDIVIDUAL,3049.0,321.0,93.0,0,0,...,36 months,23,36589,4600,48555,8700,0,36589,62433,11922
21,0,5,42500.0,NaN,INDIVIDUAL,6697.0,13248.0,55.8,0,0,...,36 months,41,66967,30000,62765,41400,0,66967,104165,4361
22,0,3,55000.0,NaN,INDIVIDUAL,4946.0,1222.0,49.1,0,0,...,36 months,18,37031,2400,47162,15900,0,59352,113062,2750
23,0,4,82000.0,NaN,INDIVIDUAL,3392.0,2353.0,76.7,0,0,...,36 months,25,37313,10100,34516,11900,0,37313,46416,11922
24,0,6,34000.0,NaN,INDIVIDUAL,1440.0,890.0,90.1,0,0,...,36 months,51,24481,9000,12439,27800,5098,24481,40239,3402
25,0,14,45000.0,NaN,INDIVIDUAL,783.0,8970.0,48.4,0,0,...,36 months,22,15659,17400,5725,26500,0,15659,32225,9867
26,0,5,75000.0,NaN,INDIVIDUAL,18235.0,1906.0,92.8,0,0,...,36 months,59,163130,26400,136117,31400,0,255284,266634,1414
27,0,6,45000.0,NaN,INDIVIDUAL,3871.0,741.0,91.3,0,0,...,36 months,26,69669,8500,53750,12600,0,69669,66350,5084
28,0,1,65000.0,NaN,INDIVIDUAL,22200.0,27119.0,45.5,0,0,...,60 months,24,23740,49800,10919,65400,0,221998,290819,5280
29,0,5,60000.0,NaN,INDIVIDUAL,4283.0,11458.0,48.6,0,0,...,60 months,15,47115,22300,40742,33700,0,47115,75735,1194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146850,0,3,70000.0,NaN,INDIVIDUAL,5319.0,21247.0,6.8,0,0,...,36,24,69148,22800,76449,34500,0,69148,110949,3292
146851,0,0,46000.0,NaN,INDIVIDUAL,1842.0,1290.0,80.2,0,0,...,36,13,14732,6500,15804,16400,0,14732,32204,5280
146852,0,7,67000.0,NaN,INDIVIDUAL,5000.0,840.0,76.0,0,1,...,36,13,27720,3500,24417,17000,310,54996,115367,1779
146853,0,3,30000.0,NaN,INDIVIDUAL,1521.0,5152.0,41.5,0,0,...,36,15,9124,8800,15082,9400,54,9124,24482,1914
146854,0,5,55000.0,NaN,INDIVIDUAL,8095.0,1173.0,82.0,0,0,...,36,25,64758,6500,73832,8500,438,64758,82332,2607
146855,0,2,27000.0,NaN,INDIVIDUAL,1129.0,3334.0,67.0,0,0,...,36,7,6771,10100,0,12700,0,6771,12700,11922
146856,0,5,48000.0,NaN,INDIVIDUAL,16161.0,432.0,87.7,0,0,...,36,50,21418,3500,26725,8900,0,129285,144400,11830
146857,0,4,75000.0,NaN,INDIVIDUAL,28671.0,5983.0,87.9,0,0,...,60,33,71121,49600,56736,49600,0,258039,330186,5084
146858,0,6,47000.0,NaN,INDIVIDUAL,2258.0,2817.0,78.3,0,0,...,60,21,24833,13000,27187,34700,661,24833,61887,4715
146859,0,3,45000.0,NaN,INDIVIDUAL,3787.0,1810.0,82.4,0,0,...,60,28,56808,10300,58215,13300,0,56808,71515,11922
146860,0,4,90000.0,NaN,INDIVIDUAL,8651.0,7857.0,64.4,0,0,...,36,48,138420,22100,142799,29000,0,138420,171799,4791
146861,0,0,37500.0,NaN,INDIVIDUAL,3346.0,0.0,102.4,0,0,...,36,23,33459,7700,33216,25900,0,33459,59116,1914
146862,0,6,60000.0,NaN,INDIVIDUAL,1288.0,1249.0,81.9,0,0,...,36,27,27046,6900,36610,18700,1530,27046,55310,1237
146863,0,1,51000.0,NaN,INDIVIDUAL,19225.0,5891.0,82.3,0,0,...,36,25,39906,33200,29951,43100,0,192249,240781,2340
146864,0,4,95000.0,NaN,INDIVIDUAL,9200.0,6605.0,55.7,0,0,...,36,26,52176,14900,50744,36900,0,119602,162359,1914
146865,0,5,98000.0,NaN,INDIVIDUAL,8940.0,8988.0,49.8,0,0,...,36,18,80456,17900,111637,21200,108,80456,132837,11830
146866,0,7,60000.0,NaN,INDIVIDUAL,2421.0,1276.0,81.8,0,0,...,36,17,24205,7000,20969,14600,0,24205,35569,21979
146867,0,1,49000.0,NaN,INDIVIDUAL,4426.0,27173.0,44.7,0,0,...,36,29,26613,49100,0,66000,0,75249,121275,3993
146868,0,5,70500.0,NaN,INDIVIDUAL,26291.0,5705.0,54.4,0,0,...,36,21,36001,12500,43602,67300,708,262905,340093,3635
146869,0,4,70000.0,NaN,INDIVIDUAL,3497.0,2756.0,83.1,0,0,...,36,30,45457,16300,45160,25800,0,45457,75174,679
146870,0,2,72000.0,NaN,INDIVIDUAL,5217.0,2881.0,85.7,0,0,...,60,19,46955,20100,49575,24100,0,46955,73675,21979
146871,0,2,5000.0,105000.0,JOINT,2722.0,899.0,86.6,0,0,...,36,18,43546,6700,56883,21000,0,43546,77883,21979
146872,0,2,80000.0,NaN,INDIVIDUAL,11264.0,9166.0,65.1,0,0,...,36,46,202751,26300,190528,39400,0,202751,229928,1414
146873,0,0,40000.0,NaN,INDIVIDUAL,2262.0,21631.0,50.3,0,0,...,36,16,22618,43500,0,50500,0,22618,50500,11830
146874,0,5,55000.0,NaN,INDIVIDUAL,14777.0,357.0,90.8,0,0,...,36,11,53657,3900,53176,16500,0,147772,169651,3909
146875,0,4,85000.0,NaN,INDIVIDUAL,16153.0,3330.0,30.6,0,0,...,36,22,37920,4800,43276,12300,0,161528,197027,11922
146876,0,4,130000.0,NaN,INDIVIDUAL,3572.0,17716.0,70.3,0,0,...,36,38,60723,59700,28720,68700,0,60723,103070,21979
146877,0,5,78000.0,NaN,INDIVIDUAL,4181.0,1960.0,90.2,0,0,...,36,30,58538,20000,44912,42600,0,58538,87512,2137
146878,0,8,116900.0,NaN,INDIVIDUAL,15316.0,44531.0,25.7,0,0,...,60,46,114316,59900,116057,87900,0,321642,440525,5633
146879,0,6,45000.0,110000.0,JOINT,36312.0,2422.0,92.0,0,0,...,36,24,33418,30300,0,44800,0,290497,303050,4715

In [38]:
#emptitle
emptitle_freq = Full_data.groupby("emptitle").size().reset_index()
emptitle_freq.columns = ["emptitle", "emptitle_freq"]
Full_data = pd.merge(Full_data, emptitle_freq, how = "left", on = "emptitle")

In [39]:
Full_data.emplength

0           8 years
1         10+ years
2           6 years
3          < 1 year
4         10+ years
5          < 1 year
6           2 years
7           6 years
8         10+ years
9         10+ years
10          8 years
11        10+ years
12          8 years
13          9 years
14          7 years
15           1 year
16          2 years
17              n/a
18          3 years
19        10+ years
20          9 years
21          5 years
22        10+ years
23        10+ years
24          4 years
25          9 years
26          5 years
27          2 years
28         < 1 year
29          4 years
            ...
146850           24
146851          120
146852           24
146853           48
146854           24
146855           48
146856           36
146857          120
146858          120
146859            0
146860           60
146861            0
146862          120
146863          120
146864           72
146865          120
146866          120
146867          120
146868          120
146869          120
146870           24
146871           36
146872           48
146873          120
146874          120
146875           12
146876           96
146877          120
146878          120
146879          NaN
Name: emplength, dtype: object

In [40]:
# all data
Full_data.replace('n/a', np.nan, inplace = True)

In [41]:
# intrate
Full_data.intrate = pd.Series(Full_data.intrate).str.replace('%', '').astype(float)

In [42]:
# revoluntil
Full_data.revolutil = pd.Series(Full_data.revolutil).str.replace('%', '').astype(float)

In [43]:
# Full_data.emplength ---需要删掉,因current data的数据出错，不是如同历史数据的1-10年
Full_data = Full_data.drop('emplength', 1)

In [44]:
dummy = ["applicationtype", "homeownership","initialliststatus", "purpose","term"]

In [45]:
term_dic = {" 36 months": 1, " 60 months":2, 36:1, 60 :2} 
Full_data.term = Full_data.term.map(term_dic)

In [46]:
Full_data.term

0         1
1         2
2         2
3         1
4         1
5         1
6         1
7         2
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        2
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        2
29        2
         ..
146850    1
146851    1
146852    1
146853    1
146854    1
146855    1
146856    1
146857    2
146858    2
146859    2
146860    1
146861    1
146862    1
146863    1
146864    1
146865    1
146866    1
146867    1
146868    1
146869    1
146870    2
146871    1
146872    1
146873    1
146874    1
146875    1
146876    1
146877    1
146878    2
146879    1
Name: term, dtype: int64

In [47]:
Full_data.term.value_counts().sort

<bound method Series.sort of 1    110468
2     36412
Name: term, dtype: int64>

In [48]:
from sklearn import preprocessing
# lets try if label encoder can replace np.nan
# full_data = full_data.replace(np.nan, 'null')

for col in dummy:
    print ("Label encoding  %s" % (col))
    LBL = preprocessing.LabelEncoder() #1
    LBL.fit(Full_data[col])#2
    labels = dict(zip(Full_data[col].unique()
               , LBL.transform(Full_data[col].unique())))
    print (labels)
    print (LBL.classes_)
    Full_data[col]=LBL.transform(Full_data[col])#3

Label encoding  applicationtype
{'INDIVIDUAL': 0, 'JOINT': 1}
['INDIVIDUAL' 'JOINT']
Label encoding  homeownership
{'ANY': 0, 'RENT': 3, 'OWN': 2, 'MORTGAGE': 1}
['ANY' 'MORTGAGE' 'OWN' 'RENT']
Label encoding  initialliststatus
{'F': 0, 'f': 1, 'w': 2}
['F' 'f' 'w']
Label encoding  purpose
{'home_improvement': 3, 'medical': 6, 'vacation': 11, 'debt_consolidation': 2, 'moving': 7, 'credit_card': 1, 'renewable_energy': 9, 'house': 4, 'other': 8, 'small_business': 10, 'major_purchase': 5, 'wedding': 12, 'car': 0}
['car' 'credit_card' 'debt_consolidation' 'home_improvement' 'house'
 'major_purchase' 'medical' 'moving' 'other' 'renewable_energy'
 'small_business' 'vacation' 'wedding']
Label encoding  term
{1: 0, 2: 1}
[1 2]

In [49]:
print(Full_data.homeownership.value_counts())
print(Full_data.initialliststatus.value_counts())
print(Full_data.purpose.value_counts())
print(Full_data.applicationtype.value_counts())

1    74369
3    58422
2    14088
0        1
Name: homeownership, dtype: int64
2    73695
1    73101
0       84
Name: initialliststatus, dtype: int64
2     90104
1     33480
3      8034
8      6467
5      2392
6      1526
10     1456
0      1168
7       870
11      781
4       510
9        88
12        4
Name: purpose, dtype: int64
0    146873
1         7
Name: applicationtype, dtype: int64

In [50]:
len(Full_data.columns)

79

In [51]:
# #full_data = full_data.replace(np.nan, 'null')
# from sklearn.preprocessing import OneHotEncoder
# enc = OneHotEncoder()
# enc.fit_transform(Full_data[])
# Full_data['applicationtype']= enc.transform(Full_data['applicationtype'])
# #full_data = full_data.drop('gender', axis =1)
# #full_data = full_data.join(a)

In [52]:
# 'applicationtype','homeownership','initialliststatus','purpose'
one_hot = pd.get_dummies(Full_data['homeownership'])
Full_data = Full_data.drop('homeownership', axis =1)
Full_data = Full_data.join(one_hot)

In [53]:
len(Full_data.columns)

82

In [54]:
Full_data.head(5)

,accnowdelinq,accopenpast24mths,addrstate,annualinc,annualincjoint,applicationtype,avgcurbal,bcopentobuy,bcutil,chargeoffwithin12mths,...,totalrevhilim,totcollamt,totcurbal,tothicredlim,addrstate_freq,emptitle_freq,0,1,2,3
0,0,7,CA,58000.0,NaN,0,9536.0,7599.0,41.5,0,...,19400,0,162110,179407,21979,1.0,0.0,1.0,0.0,0.0
1,0,5,VA,78000.0,NaN,0,29828.0,9525.0,4.7,0,...,184500,0,149140,196500,4361,5.0,0.0,0.0,0.0,1.0
2,0,4,MO,63800.0,NaN,0,4232.0,324.0,97.8,0,...,21500,0,42315,57073,2340,1.0,0.0,0.0,0.0,1.0
3,0,6,AZ,50000.0,NaN,0,5857.0,332.0,93.2,0,...,18300,0,64426,82331,3635,15.0,0.0,0.0,0.0,1.0
4,0,8,NJ,69000.0,NaN,0,3214.0,6494.0,69.2,0,...,27600,0,38566,52490,5280,5.0,0.0,0.0,0.0,1.0

In [55]:
Full_data.columns = Full_data.columns.astype(str)

In [56]:
# 需要 rename!!!!
# 需要转字符串
Full_data = Full_data.rename(columns={'0': 'homeownership_0'})
Full_data = Full_data.rename(columns={'1': 'homeownership_1'})
Full_data = Full_data.rename(columns={'2': 'homeownership_2'})
Full_data = Full_data.rename(columns={'3': 'homeownership_3'})
# Full_data.columns

In [57]:
one_hot1 = pd.get_dummies(Full_data['initialliststatus'])
Full_data = Full_data.drop('initialliststatus', axis =1)
Full_data = Full_data.join(one_hot1)

In [58]:
Full_data.columns = Full_data.columns.astype(str)
Full_data = Full_data.rename(columns={'0': 'initialliststatus_0'})
Full_data = Full_data.rename(columns={'1': 'initialliststatus_1'})
Full_data = Full_data.rename(columns={'2': 'initialliststatus_2'})

In [59]:
Full_data.columns

Index(['accnowdelinq', 'accopenpast24mths', 'addrstate', 'annualinc',
       'annualincjoint', 'applicationtype', 'avgcurbal', 'bcopentobuy',
       'bcutil', 'chargeoffwithin12mths', 'collections12mthsexmed',
       'delinq2yrs', 'delinqamnt', 'dti', 'dtijoint', 'earliestcrline',
       'emptitle', 'flag', 'fundedamnt', 'grade', 'ilutil', 'inqlast6mths',
       'installment', 'intrate', 'issued', 'lastcreditpulld', 'loanamnt',
       'loanstatus', 'maxbalbc', 'mortacc', 'mosinoldilacct',
       'mosinoldrevtlop', 'mosinrcntrevtlop', 'mosinrcnttl',
       'mthssincelastdelinq', 'mthssincelastmajorderog', 'mthssincelastrecord',
       'mthssincercntil', 'mthssincerecentbc', 'mthssincerecentbcdlq',
       'mthssincerecentinq', 'mthssincerecentrevoldelinq', 'numacctsever120pd',
       'numactvbctl', 'numactvrevtl', 'numbcsats', 'numbctl', 'numiltl',
       'numoprevtl', 'numrevaccts', 'numrevtlbalgt0', 'numsats',
       'numtl120dpd2m', 'numtl30dpd', 'numtl90gdpd24m', 'numtloppast12m',
       'openacc', 'pcttlnvrdlq', 'percentbcgt75', 'pubrec',
       'pubrecbankruptcies', 'purpose', 'revolbal', 'revolutil', 'subgrade',
       'taxliens', 'term', 'totalacc', 'totalbalexmort', 'totalbclimit',
       'totalilhighcreditlimit', 'totalrevhilim', 'totcollamt', 'totcurbal',
       'tothicredlim', 'addrstate_freq', 'emptitle_freq', 'homeownership_0',
       'homeownership_1', 'homeownership_2', 'homeownership_3',
       'initialliststatus_0', 'initialliststatus_1', 'initialliststatus_2'],
      dtype='object')

In [60]:
one_hot3 = pd.get_dummies(Full_data['purpose'])
Full_data = Full_data.drop('purpose', axis =1)
Full_data = Full_data.join(one_hot3)

In [61]:
Full_data.columns = Full_data.columns.astype(str)
Full_data = Full_data.rename(columns={'0': 'purpuse_0'})
Full_data = Full_data.rename(columns={'1': 'purpuse_1'})
Full_data = Full_data.rename(columns={'2': 'purpuse_2'})
Full_data = Full_data.rename(columns={'3': 'purpuse_3'})
Full_data = Full_data.rename(columns={'4': 'purpuse_4'})
Full_data = Full_data.rename(columns={'5': 'purpuse_5'})
Full_data = Full_data.rename(columns={'6': 'purpuse_6'})
Full_data = Full_data.rename(columns={'7': 'purpuse_7'})
Full_data = Full_data.rename(columns={'8': 'purpuse_8'})
Full_data = Full_data.rename(columns={'9': 'purpuse_9'})
Full_data = Full_data.rename(columns={'10': 'purpuse_10'})
Full_data = Full_data.rename(columns={'11': 'purpuse_11'})
Full_data = Full_data.rename(columns={'12': 'purpuse_12'})

In [62]:
Full_data.head(3)

,accnowdelinq,accopenpast24mths,addrstate,annualinc,annualincjoint,applicationtype,avgcurbal,bcopentobuy,bcutil,chargeoffwithin12mths,...,purpuse_3,purpuse_4,purpuse_5,purpuse_6,purpuse_7,purpuse_8,purpuse_9,purpuse_10,purpuse_11,purpuse_12
0,0,7,CA,58000.0,NaN,0,9536.0,7599.0,41.5,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,5,VA,78000.0,NaN,0,29828.0,9525.0,4.7,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,4,MO,63800.0,NaN,0,4232.0,324.0,97.8,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [63]:
one_hot4 = pd.get_dummies(Full_data['applicationtype'])
Full_data = Full_data.drop('applicationtype', axis =1)
Full_data = Full_data.join(one_hot4)

In [64]:
Full_data = Full_data.rename(columns={'0': 'applicationtype_0'})
Full_data = Full_data.rename(columns={'1': 'applicationtype_1'})

# Drop Items

In [65]:
# i dropped three columns that i can not do anything for now. i will figure them out later.
# Full_data = Full_data.drop('term', axis = 1) # 已还原
Full_data = Full_data.drop('earliestcrline', axis = 1)  #因是年-月形式 -应还原，做label encoding
Full_data = Full_data.drop('lastcreditpulld', axis = 1) #因是年-月形式 -应还原，做label encoding
Full_data = Full_data.drop('addrstate', axis = 1) #BEFORE SHOULD HAVE DELETED
Full_data = Full_data.drop('emptitle', axis = 1) #BEFORE SHOULD HAVE DELETED
Full_data = Full_data.drop('issued', axis = 1) #BEFORE SHOULD HAVE DELETED
# for column_name in Full_data.columns.values:
#     print (column_name, ":  ", Full_data[column_name].dtype)

# NAN的处理

In [66]:
Full_data = Full_data.drop('annualincjoint', axis = 1)
Full_data = Full_data.drop('dtijoint', axis = 1)
Full_data = Full_data.drop('ilutil', axis = 1)
Full_data = Full_data.drop('maxbalbc', axis = 1)
Full_data = Full_data.drop('mthssincercntil', axis = 1)

In [67]:
Full_data = Full_data.fillna(Full_data.median())

# Prepare Train & Test

In [68]:
train = Full_data.loc[Full_data['flag'] == 0]
test = Full_data.loc[Full_data['flag'] == 1]
test_predict = Full_data.loc[Full_data['flag'] == 2]

In [69]:
print (len(train), len(test), len(test_predict))
print (len(Full_data))

37577 109219 84
146880

In [70]:
X_train = train.drop("loanstatus", axis=1)
Y_train = train["loanstatus"]
X_test = test.drop("loanstatus", axis=1)
Y_test = test["loanstatus"]
X_test_predict = test_predict.drop("loanstatus", axis=1)
Y_test_predict = test_predict["loanstatus"]

In [71]:
print(len(X_train), len(X_train.columns), len(Y_train))

37577 86 37577

# Model Tuning

In [72]:
Full_data.head(4)

,accnowdelinq,accopenpast24mths,annualinc,avgcurbal,bcopentobuy,bcutil,chargeoffwithin12mths,collections12mthsexmed,delinq2yrs,delinqamnt,...,purpuse_5,purpuse_6,purpuse_7,purpuse_8,purpuse_9,purpuse_10,purpuse_11,purpuse_12,0,1
0,0,7,58000.0,9536.0,7599.0,41.5,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0,5,78000.0,29828.0,9525.0,4.7,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0,4,63800.0,4232.0,324.0,97.8,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0,6,50000.0,5857.0,332.0,93.2,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [73]:
# # Check Null
# Full_data.iloc[:,1:40].isnull().sum() 
# Full_data.iloc[:,41:90].isnull().sum()

# Random Forest

In [74]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
RF = RandomForestClassifier()#linearregression
RF = RF.fit(X_train, Y_train)
y_pred = RF.predict(X_test)

In [75]:
print (metrics.classification_report(Y_test, y_pred))# accuracy

             precision    recall  f1-score   support

        0.0       0.36      0.27      0.31     22873
        1.0       0.82      0.87      0.84     86346

avg / total       0.72      0.75      0.73    109219

# Decision Tree

In [76]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(max_depth=5)  #(可以改max depth)
dtc.fit(X_train,Y_train)
y_pred1 = dtc.predict(X_test)

In [77]:
print(y_pred1.shape)
print(y_pred.shape)
print(Y_test.shape)

(109219,)
(109219,)
(109219,)

In [78]:
y_pred1

array([ 1.,  1.,  1., ...,  1.,  1.,  1.])

In [79]:
print (metrics.classification_report(Y_test, y_pred1))# accuracy

             precision    recall  f1-score   support

        0.0       0.44      0.11      0.17     22873
        1.0       0.80      0.96      0.88     86346

avg / total       0.73      0.78      0.73    109219

# Gradient Boosting Tree

In [80]:
from sklearn.ensemble import GradientBoostingClassifier, GradientBoostingRegressor

In [81]:
est = GradientBoostingClassifier(n_estimators=200, max_depth=3)
est.fit(X_train, Y_train)
Y_pred3 = est.predict(X_test)

In [82]:
print (metrics.classification_report(Y_test, Y_pred3))

             precision    recall  f1-score   support

        0.0       0.49      0.16      0.25     22873
        1.0       0.81      0.95      0.88     86346

avg / total       0.74      0.79      0.75    109219

In [83]:
Y_pred_target = est.predict(X_test_predict)

### 使用调参后的GradientBoostingClassifier

In [84]:
est2 = GradientBoostingClassifier(n_estimators=500, max_depth=5)
est2.fit(X_train, Y_train)
Y_pred4 = est2.predict(X_test)
print (metrics.classification_report(Y_test, Y_pred4))

             precision    recall  f1-score   support

        0.0       0.45      0.20      0.27     22873
        1.0       0.81      0.94      0.87     86346

avg / total       0.74      0.78      0.75    109219

In [85]:
Y_pred_target = est2.predict(X_test_predict)
import pandas as pd
predictionFile = pd.DataFrame(Y_pred_target).to_csv('/Users/Stephanie_Zhang/Desktop/LendingClub项目/Submmission.csv', index=False)

In [86]:
# 由于运行时间较长，不再重新运行；已将运行结果的parameter用于上述
# from sklearn import metrics, grid_search
# from sklearn.model_selection import cross_val_score
# def search_model(x_train, y_train, est, param_grid, n_jobs, cv, refit=False):
# ##Grid Search for the best model
#     model = grid_search.GridSearchCV(estimator  = est,
#                                      param_grid = param_grid,
#                                      scoring    = 'f1_weighted',
#                                      verbose    = 10,
#                                      n_jobs  = n_jobs,
#                                      iid    = True,
#                                      refit    = refit,
#                                      cv      = cv)
#     # Fit Grid Search Model
#     model.fit(x_train, y_train)
#     print("Best score: %0.3f" % model.best_score_)
#     print("Best parameters set:", model.best_params_)
#     print("Scores:", model.grid_scores_)    
#     return model

In [87]:
# np.random.seed(1234)
# param_grid = {'n_estimators':[100,300,500],
#              'max_depth':[3, 5]}

# RF = search_model(X_train.values
#             , Y_train.values
#             , GradientBoostingClassifier()
#             , param_grid
#             , -1
#             , 5)

# SVM

In [88]:
### SVM - 时间太久，暂不考虑

In [89]:
# from sklearn import svm
# C = 1.0  # SVM regularization parameter
# svc = svm.SVC(kernel='linear', C=C).fit(X_train, Y_train)
# Y_pred5 = svc.predict(X_test)
# print (metrics.classification_report(Y_test, Y_pred6))

# Voting Ensemble

In [90]:
### Voting - 时间太久，暂不考虑

In [91]:
# # voting ensemble
# from sklearn.ensemble import VotingClassifier
# from sklearn.model_selection import cross_val_score
# clf1 = RandomForestClassifier()#linearregression
# clf2 = DecisionTreeClassifier(max_depth=5) 
# clf3 = GradientBoostingClassifier(n_estimators=500, max_depth=5)
# eclf = VotingClassifier(estimators=[('GradientBoosting',clf3), ('DecisionTree', clf2), ('RandomForest', clf1)], voting='hard')
# for clf, label in zip([clf1, clf2, clf3, eclf], ['GradientBoosting', 'DecisionTree', 'RandomForest', 'Ensemble']):
#     scores = cross_val_score(clf, X_train, Y_train, cv=5, scoring='f1_weighted')
#     print ("Accuracy: %0.2f (+/- %0.2f) [%s]" % (scores.mean(), scores.std(), label))

In [92]:
# 后续：我不是很清晰GradientSearchCV里的scoring是什么score.是否和precision/recall/F1-SCORE有可比性

# Pickle

In [94]:
from sklearn.externals import joblib
joblib.dump(est2, "pimaStZ.joblib.dat")

['pimaStZ.joblib.dat']

In [99]:
import pickle
pickle.dump(est2, open('modelStZ.pkl', "wb"))

In [97]:
# import pickle
# with open('modelStZ.pkl', 'w') as outfile:
#     a = "test"
#     pickle.dump(est2, outfile)

TypeError: write() argument must be str, not bytes